body {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(216, 234, 250);
}

#map,
body,
html {
  height: 90%;
}

#text {
  padding-bottom: 5px;
  background-color: white;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: gray;
  background-color: white;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}
